@model string


<div class="col-12 p-2 text-center">
    <img src="/assets/img/NA.png" />
</div>

<div class="alert alert-danger text-black text-center">
    <h3>@Model</h3>
    <hr />
    <a class="btn btn-link" href="/">Back to home</a>
</div>